@tailwind base;
@tailwind components;
@tailwind utilities;

*{
     margin : 0;
     padding: 0;
     box-sizing: border-box;
}

     html,body{
     height:100%;
     width: 100%;
}

#Tasklist::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: #333; 
    border-radius: 10px;
}
::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #777, #999); 
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #aaa, #ccc); 
}
